.wrapper {
}

.title {
  text-align: center;
  color: white;
}

.main {
  display: flex;
  justify-content: space-around;
}

.editor-container {
  width: 40%;
}
#editor {
  width: 100%;
  min-height: 500px;
  resize: vertical;
  outline: none;
  padding: 5px;
  font-size: 14px;
  background-color: #eae9eb;
}

#preview-container {
  width: 50%;
  min-height: 400px;
}

#preview {
  width: 100%;
  padding: 5px;
  background-color: #eae9eb;
}
